<div class="row border" style="padding-top: 5px;">
    <div class="col-sm-5">
        <div class="header">
            <img class="icon" src="/assets/logo-white.png">
            <span class="foodzap">FOODZAP</span>
        </div>
    </div>
    <div class="col-sm-2 text-end styling">
        <a routerLink="/registeruser"><img class="icon-right" src="/assets/adminplus.png">Add user</a>
    </div>
    <div class="col-sm-2 text-end styling">
        <a routerLink="/addnewrestaurant"><img class="icon-right" src="/assets/adminplus.png">Add restaurant</a>
    </div>
    <div class="col-sm-2 text-center styling">
        <a routerLink="/addnewadmin"><img class="icon-right" src="/assets/adminplus.png">Add admin</a>
    </div>
    <div class="col-sm-1 text-center styling">
        <a (click)="logout()"><img class="icon-right" src="/assets/logoutwhite.png">Logout</a>
    </div>
</div>