<div class="row border" style="padding-top: 5px;">
    <div class="col-sm-8">
        <div class="header">
            <img class="icon" src="/assets/logo-white.png">
            <span class="foodzap">FOODZAP</span>
        </div>
    </div>
    <div class="col-sm-1 mt-3"><a routerLink="/user">Restaurants</a></div>
    <div class="col-sm-1 mt-3"><a routerLink="/othermenus">Topdeals</a></div>
    <div class="col-sm-1 mt-3">
        <a (click)="logout()"><img class="icon-right" src="/assets/logoutwhite.png">Logout</a>
    </div>
    <div class="col-sm-1 mt-3">
        <a routerLink="/cart"><img class="icon-right" src="/assets/carticonwhite.png">Cart</a>
    </div>

</div>