<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5 spacing">
            <div class="row">
                <div class="header">
                    <img class="icon" src="assets/delivery-food.png">
                    <span class="foodzap">FOODZAP</span>
                </div>
            </div>
            <div class="row">
                <h1 class="styling">Fastest
                    <span style="color:orange">Delivery </span> and Easy <span style="color:orange"> Pickup</span></h1>
                <p>Order food from favorite restaurants near you and enjoy,</p>
                <ul class="li-tag">
                    <li>Hot served food</li>
                    <li>Fastest delivery</li>
                    <li>Quick pickup</li>

                </ul><br>
                <h6>Click get started and check below</h6>
                <span class=" text-center "><button routerLink='guestchild' class="btn btn-primary myform-control ">GET STARTED</button></span>
            </div>
        </div>
        <div class="col-sm-6 ">
            <img class="bgposition " src="/assets/pizza.jpg ">
        </div>
    </div>
</div>
<router-outlet></router-outlet>