<div class="sidebar">
    <a [routerLink]="['/user']" fragment="breakfast"><img class="icon-right" src="/assets/breakfasticon.png">Breakfast</a>
    <a [routerLink]="['/othermenus']" fragment="starter"><img class="icon-right" src="/assets/maincourseicon.png">Starters</a>
    <a [routerLink]="['/othermenus']" fragment="maincourse"><img class="icon-right" src="/assets/startersicon.jpg">Maincourse</a>
    <a [routerLink]="['/othermenus']" fragment="dinner"><img class="icon-right" src="/assets/dinnericon.jpg">Dinner</a>
    <a [routerLink]="['/othermenus']" fragment="desserts"><img class="icon-right" src="/assets/desserticon.jpg">Desserts</a>
    <a [routerLink]="['/othermenus']" fragment="juices"><img class="icon-right" src="/assets/juicesicon.webp">Juices</a>
</div>