.container-fluid {
    color: rgb(59, 57, 57)
}

.row {
    width: 100%;
    margin-bottom: 10px;
}

.rowstyle {
    margin: 1%;
    background-color: rgb(238, 238, 238);
    width: 31.3%;
    border-radius: 5px;
}

img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    margin: 10px 0px 0px 0px;
}

.form-control {
    border: none;
    height: 50px;
    outline: none;
    background-color: orange;
    margin-bottom: 10px;
}